/* ItemForm.css */

.item-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .item-form input {
    padding: 100px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .item-form button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .item-form button:hover {
    background-color: #218838;
  }
  