
body {
  font-family: Arial, sans-serif;
  background-image: url('./images/R.jpeg'); /* Replace with the path to your background image */
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

.app-container {
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
  padding: 20px;
  max-width: 800px;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}
